name: 编译GecoosAC

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 准备环境
        run: sudo apt update && sudo apt install -y build-essential libncurses5-dev gawk git gettext libssl-dev xsltproc rsync wget unzip python3

      - name: 下载SDK
        run: |
          wget https://downloads.immortalwrt.org/releases/23.05.1/targets/mediatek/filogic/immortalwrt-sdk-23.05.1-mediatek-filogic_gcc-12.3.0_musl.Linux-x86_64.tar.xz
          tar -xJf immortalwrt-sdk-*.tar.xz
          mv immortalwrt-sdk-* sdk

      - name: 下载插件源码
        run: |
          cd sdk
          ./scripts/feeds update -a
          ./scripts/feeds install -a
          git clone https://github.com/lwb1978/openwrt-gecoosac package/openwrt-gecoosac

      - name: 编译
        run: |
          cd sdk
          make defconfig
          echo "CONFIG_PACKAGE_luci-app-gecoosac=m" >> .config
          make package/openwrt-gecoosac/compile V=s

      - name: 上传文件
        uses: actions/upload-artifact@v4
        with:
          name: GecoosAC-plugin
          path: sdk/bin/packages/*/base/luci-app-gecoosac*.ipk
